bin/
obj/
.vs/
.vscode/
memo/Properties/serviceDependencies.local.json
memo/Properties/serviceDependencies.json
memo/Properties/PublishProfiles/FolderProfile.pubxml
memo/Properties/PublishProfiles/FolderProfile.pubxml.user
memo/Properties/serviceDependencies.json
memo/memo.csproj.user
memo/.config/dotnet-tools.json
memo/Startup.cs
