@model memo.Models.Company

@{
    ViewData["Title"] = "Nová firma";
}

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* <input type="hidden" asp-for="CompanyId" /> *@

        <div class="form-group row">
            <label asp-for="Name" class="required col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-4 field-wrapper">
                <input asp-for="Name" class="form-control" type="text" />
                <div class="field-placeholder"><span>Název firmy</span></div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="City" class="col-lg-3 col-form-label form-control-label control-label">Adresa</label>
            <div class="col-lg-4">
                <input asp-for="City" class="form-control" type="text" placeholder="Město"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-lg-5">
                <input asp-for="Address" class="form-control" type="text" placeholder="Ulice a č. p."/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Phone" class="col-lg-3 col-form-label form-control-label control-label">Kontakt</label>
            <div class="col-lg-4">
                <input asp-for="Phone" class="form-control" type="text" placeholder="Telefonní číslo"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="col-lg-5">
                <input asp-for="Web" class="form-control" type="text" placeholder="https://"/>
                <span asp-validation-for="Web" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="InvoiceDueDays" class="required col-lg-3 col-form-label form-control-label control-label">Splatnost faktury</label>
            <div class="col-lg-3">
                <div class="input-group mb-2 mr-sm-2">
                    @* <input asp-for="InvoiceDueDays" class="form-control" type="text" required="" /> *@
                    <input asp-for="InvoiceDueDays" class="form-control" type="text" required="" />
                    <div class="input-group-append">
                        <div class="input-group-text">dní</div>
                    </div>
                </div>
                <span asp-validation-for="InvoiceDueDays" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
            <div class="col-lg-9">
                <textarea asp-for="Notes" class="form-control"></textarea>
                @* @Html.TextAreaFor(m => m.Notes, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3">
                <a asp-action="Index" class="btn btn-light border"><i class="fa fa-arrow-left"></i> Zpět</a>
            </div>
            <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Vyprázdnit pole" />
                <input type="submit" class="btn btn-primary" value="Vytvořit firmu" />
            </div>
        </div>

        @Html.CheckBoxFor(m => m.Active, new { style = "display:none", @checked="checked" })

        </form>
    </div>
</div>

