@model memo.Models.Company

@{
    ViewData["Title"] = "Create";
}

<h1>Nová firma</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Web" class="control-label"></label>
                <input asp-for="Web" class="form-control" />
                <span asp-validation-for="Web" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDueDays" class="control-label"></label>
                <input asp-for="InvoiceDueDays" class="form-control" />
                <span asp-validation-for="InvoiceDueDays" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="Notes" class="form-control"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            @Html.CheckBoxFor(m => m.Active, new { style = "display:none", @checked="checked" })

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

