@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Evidence nabídek a zakázek</h1>
</div>

<div class="text-center">
    <p>Logged in user: [@ViewBag.user] and role: [@ViewBag.role]</p>
</div>
