@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Evidence nabídek a zakázek</h1>
</div>

<div class="text-center">
    <p>Logged in user: [@ViewBag.user] and role: [@ViewBag.role]</p>
</div>

<div class="card">
    <h4>TODO:</h4>

    <hr />

    @* <div class="card"> *@
    <div class="pl-5">

        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="check0" checked>
            <label class="form-check-label" for="check0">
                <del>Vytvořit seznam TODO listu a změn</del>
            </label>
        </div>

        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="check1">
            <label class="form-check-label" for="check1">
                Login systém
            </label>
        </div>

        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="check2">
            <label class="form-check-label" for="check2" >
                Popup okna, která budou informovat o úspěšnosti/neúspěšnosti operací
            </label>
        </div>

        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="check3">
            <label class="form-check-label" for="check3">
                Filtování Aktivní (default) / Neaktivní Nabídky/Zakázky/Kontakty/Firmy
            </label>
        </div>

        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="check4">
            <label class="form-check-label" for="check4">
                Vyhodnocení: Filtr Rok/Měsíc/Týden, Vše/Oddělení
            </label>
        </div>

    </div>

    <hr />

    <h4>Změny:</h4>

    <hr />

    <div class="pl-5">
        <h5><i class="fa fa-calendar"></i> 2020-08-31</h5>
        <ul>
            <li>Vyhraná nabídka (objednávka) nyní zobrazuje "Založit zakázku"</li>
        </ul>
    </div>


</div>