@{
    ViewData["Title"] = "Home Page";
}

<style>
    .new::before {
        font-family: FontAwesome;
        content: "\f067";
        @* display: inline-block; *@
        padding-right: 10px;
        vertical-align: middle;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        width: 25px;
    }

    .fix::before {
        font-family: FontAwesome;
        content: "\f0ad";
        @* display: inline-block; *@
        padding-right: 10px;
        vertical-align: middle;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        width: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-6">Evidence nabídek a zakázek</h1>
</div>

<div class="text-center">
    <p>Logged in user: [@ViewBag.user] and role: [@ViewBag.role]</p>
</div>

<div class="card">
    <h4>TODO:</h4>

    <hr />

    @* <div class="card"> *@
    <div class="pl-5">

        <div class="form-group"><input type="checkbox" class="form-check-input" checked>
            <label class="form-check-label"><del>Vytvořit seznam TODO listu a změn</del></label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Login systém</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Popup okna, která budou informovat o úspěšnosti/neúspěšnosti operací</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Filtování Aktivní (default) / Neaktivní Nabídky/Zakázky/Kontakty/Firmy</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Vyhodnocení: Filtr Rok/Měsíc/Týden, Vše/Oddělení</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">DB: Zjistit odkud vytáhnout aktivní Evektor lidi</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Přidat pole k vložení PDF odkazu na Dodací listy</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Vyřešit fakturaci - napojení na IT / Účetnictví (checkboxy souhlasu pro nový Projekt?)</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Nabídka/Objednávka: Rozšifrovat terminologii</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Změnit pole "Objednávka" na "Evektor nabídka"</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Doplnit možnost více [Termín] [Cena] [Fakturace]</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Možnost více "dalších nákladů" s individuálními [cenami] a [popisky]</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Možnost přiřadit více "Kódů vykazování" - pozn. jak pak počítat hodiny, částky, ...</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Daleká budoucnost: funkce připomenutí, že se má fakturovat</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: "Další náklady" odečítat, ne přičítat. Přidat "Aktuální bilance", kde budu vědět "Objem zakázky" - "Jiné náklady" = "Aktuální bilance"</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Modul pohledávek: Fakturace - čísla "Kolik jsme nafakturovali" - Pozn. ???</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Firma: Required fields: [Splatnost, název]</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Kontakt: Required fields: [Jméno]</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Pokud není známé číslo obj. zákazníka, vložit název Eve nabídky (tlačítko?)</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Zakázka: Vedoucí projektu: Required</label>
        </div>

        <div class="form-group"><input type="checkbox" class="form-check-input">
            <label class="form-check-label">Dashboard: Přidat filtr [Celá firma] / [Oddělení] + další [Po zákaznících]</label>
        </div>

    </div>

    <hr />

    <h4>Změny:</h4>

    <hr />

    <div class="pl-5">

        <h6>
            <i class="fa fa-calendar"></i> 2020-09-03
            <a class="btn btn-light btn-sm" href="#show20200903" data-toggle="collapse" role="button" ><i class="fa fa-plus"></i></a>
        </h6>
        <div class="collapse show" id="show20200903">
            <ul style="list-style-type:none">
                <li class="new">Nabídka/Objednávka - Legenda vysvětlující Čeká/Výhra/Prohra</li>
                <li class="new">Nabídka/Objednávka - Přidání firmy/kontaktu z karty nabídky/objednávky</li>
                <li class="fix">Nabídka/Objednávka - Kontakt zobrazuje i příjmení</li>
                <li class="fix">Nabídka/Objednávka - Povinný předmět</li>
                <li class="fix">Nabídka/Objednávka - Správně zapisuje datum vytvoření</li>
            </ul>
        </div>

        <h6>
            <i class="fa fa-calendar"></i> 2020-09-02
            <a class="btn btn-light btn-sm" href="#show20200902" data-toggle="collapse" role="button" ><i class="fa fa-plus"></i></a>
        </h6>
        <div class="collapse" id="show20200902">
            <ul>
                <li>Zakázka - Tlačítko pro vložení dnešního směnného kurzu</li>
                <li>Zakázka - Při vytváření zakázky z: "Zakázky - Nová zakázka", už nelze založit s prázdnou zakázkou</li>
                <li>Zakázka - Pole "Kód vykazování EVE" a "Konečná cena" nebyly povinné, nyní jsou.</li>
                <li>Zakázka - Opraveno tvoření zakázek z "Zakázky - Nová zakázka"</li>
            </ul>
        </div>

        <h6>
            <i class="fa fa-calendar"></i> 2020-08-31
            <a class="btn btn-light btn-sm" href="#show20200831" data-toggle="collapse" role="button" ><i class="fa fa-plus"></i></a>
        </h6>
        <div class="collapse" id="show20200831">
            <ul>
                <li>Vyhraná nabídka (objednávka) nyní zobrazuje "Založit zakázku"</li>
            </ul>
        </div>
    </div>


</div>