@{
    ViewData["Title"] = "Nabídky";
}

@model IList<memo.Models.Offer>

<div class="text-center">
    <h1 class="display-4">Nabídky</h1>
</div>


<div id="toolbar" style="padding-bottom: 10px;">
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-plus-square-o"></i> Nová Nabídka</a>
</div>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Id</th>
            <th scope="col">Název</th>
            <th scope="col">Firma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a asp-action="Edit"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id=@item.OfferId><i class="fa fa-times fa-fw" style="color: red", aria-hidden="true"></i></a>
                </th>
                <th scope="row">@item.OfferId</th>
                <th scope="row">@item.OfferName</th>
                <th scope="row">@item.Company.Name</th>
            </tr>
        }
    </tbody>
</table>