@model memo.ViewModels.OrderEditViewModel

<div class="modal fade" id="SearchForOrderCodeModal" tabindex="-1" role="dialog" aria-labelledby="SearchForOrderCodeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="SearchForOrderCodeModalLabel">Hledej šmudlo!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <!-- body -->
            <div class="modal-body">
                <input id="xxx1" value="Filter1" />
                <input id="xxx2" value="Filter2" />
                <select id="SelectedOrderCode_@Model.OrderCodeId" asp-items="Model.EveOrderCodes" class="form-control selectpicker"></select>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="OrderCodeToInput(@Model.OrderCodeId)" data-dismiss="modal">Vložit</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Zpět</button>
            </div>
        </div>
    </div>
</div>

@*
<script>
    $('.selectpicker').select2();
</script> *@
