@model memo.Models.Contact

@{
    ViewData["Title"] = "Úprava kontaktu";
}

<div class="text-center">
    <h1 class="display-6">@ViewData["Title"]</h1>
    <hr />
</div>

<style>
    .cardTitleMerged {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="col-lg-10 personal-info">
        <form class="card" role="form" autocomplete="on" asp-action="Edit" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ContactId" />

            <div class="cardTitleMerged">

                <h5 class="card-title">Upravit kontakt</h5>

                <div class="form-group">
                    <div class="pretty p-bigger p-default p-curve p-toggle">
                        <input asp-for="Active" type="checkbox"/>
                        <div class="state p-success p-on">
                            <label>Aktivní</label>
                        </div>
                        <div class="state p-danger p-off">
                            <label>Neaktivní </label>
                        </div>
                    </div>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>

            </div>

            <hr />

            <div class="form-group row">
                <label asp-for="PersonTitle" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    <input asp-for="PersonTitle" class="form-control" type="text" placeholder="Titul"/>
                    <span asp-validation-for="PersonTitle" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="PersonName" class="required col-lg-3 col-form-label form-control-label control-label">Celé jméno</label>
                <div class="col-lg-3">
                    <input asp-for="PersonName" class="form-control" type="text" placeholder="Křestní jméno"/>
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                </div>
                <div class="col-lg-3">
                    <input asp-for="PersonLastName" class="form-control" type="text" placeholder="Příjmení"/>
                    <span asp-validation-for="PersonLastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="CompanyId" class="required col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyList as SelectList, "-- Vyber firmu --", new { @class = "form-control selectpicker" })
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                @* <label asp-for="Department" class="col-lg-3 col-form-label form-control-label control-label"></label> *@
                <div class="col-lg-3">
                    <input asp-for="Department" class="form-control" type="text" placeholder="Oddělení"/>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    <input asp-for="Email" class="form-control" type="text" placeholder="E-mail"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3">
                    <input asp-for="Phone" class="form-control" type="text" placeholder="Telefon"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Notes" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="Notes" class="form-control"></textarea>
                    @* @Html.TextAreaFor(m => m.Notes, additionalViewData: new { htmlAttributes = new { @class = "form-control" }}) *@
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="CreateDate" class="col-lg-3 col-form-label form-control-label control-label"></label>
                <div class="col-lg-3 mycalendar">
                    <input asp-for="CreateDate" class="form-control" type="text" readonly/>
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-3">
                    <a asp-action="Index" class="btn btn-light"><i class="fa fa-arrow-left"></i> Zpět</a>
                </div>
                <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" value="Resetovat pole" data-toggle="tooltip" title="Vrátí neuložené úpravy"/>
                    <input type="submit" class="btn btn-primary" name="actionType" value="Uložit" />
                    <input type="submit" class="btn btn-primary" name="actionType" value="Uložit a zavřít" />
                    <a href="#" class="btn btn-danger pull-right" onclick="ConfirmDelete(@Model.ContactId)">Smazat</a>
                </div>
            </div>

        </form>
    </div>
</div>
