@* @using Microsoft.AspNetCore.Identity *@
@* @inject SignInManager<IdentityUser> SignInManager *@
@* @inject UserManager<IdentityUser> UserManager *@

<h5 class="card-title">Vyber z možností</h5>
<hr />

<div class="d-flex flex-row justify-content-around new-order-radios">
    <label class="radio-inline cool-link @ViewData["selectedOffer"]">
        <a asp-action="CreateFromOffer" asp-controller="Orders" asp-route-id="">Evektor nabídka</a>
    </label>
    <label class="radio-inline cool-link @ViewData["selectedContract"]">
        <a asp-action="CreateFromContract" asp-controller="Orders" asp-route-id="">Rámcová smlouva</a>
    </label>
    <label class="radio-inline cool-link @ViewData["selectedClean"]">
        <a asp-action="Create" asp-controller="Orders" asp-route-id="" data-toggle="tooltip" title="Nemám nabídku">Zakázka bez nabídky</a>
    </label>
</div>
